<!DOCTYPE html>
<html lang="en" ng-app="ImageApp">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <script src="/bower_components/angular/angular.js"></script>
        <script src="/list.js"></script>
    </head>
    <body ng-controller="ImageCtrl as ctrl">

        <h1>List of Images</h1>

        <ul>

            <li ng-repeat="i in ctrl.images">
                
                <h4><a href="/image/{{ i.asset_id }}">{{ i.name }}</a></h4>
                
            </li>

        </ul>

    </body>
</html>