<!DOCTYPE html>
<html lang="en" ng-app="UploadApp">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <style>
            .drop-area {
                width: 100px;
                height: 100px;
                border: 1px dashed grey;
                border-radius: 5px;
            }
        </style>

        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-file-upload/dist/angular-file-upload.js"></script>

        <script src="/upload.js"></script>
    </head>
    <body ng-controller="UploadCtrl as ctrl">
    
        File:
        <input type="file" accept="image/*"
               nv-file-select uploader="ctrl.uploader" ng-model="ctrl.imageName">
        <br>

        <div class="drop-area" nv-file-drop uploader="ctrl.uploader">Drop area</div>

        <button type="button" ng-click="ctrl.uploadOne()">Upload</button>

        <br>
        <ul>
            <li ng-repeat="f in ctrl.uploader.queue">
                {{ f.file.name }}
            </li>
        </ul>

    </body>
</html>